{% extends 'base.html' %}  <!-- Extending from the base template for consistent layout and styling across the site -->

{% block content %}  <!-- Defining the content block to insert specific content into the base template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIST Group</title>
</head>
<body>

    {% if user.is_authenticated %}
        {% if user.pk == post.author.pk %}  <!-- Checking if the logged-in user is the author of the post -->

            <!-- Displaying the page title for updating the post -->
            <h1>Update Post: {{ post.pk }}</h1>
            <!-- Form for updating a blog post -->
            <div class="form-group"></div>  <!-- Empty div for form group (for styling or future use) -->
            <form method="POST" enctype="multipart/form-data">  <!-- Adding enctype for file upload -->
                {% csrf_token %}  <!-- CSRF token for form security -->

              <!--  {{ form.media }}  Inserting form media (if any, like JavaScript or CSS specific to the form) -->
                {{ form.as_p }}  <!-- Rendering form fields as paragraphs for a simple layout -->

                <!-- Update button for the form -->
                <button class="btn btn-success">Update</button>
            </form>

        {% else %}  <!-- If the authenticated user is not the author of the post -->
            <!-- Displaying a message indicating that the user is not authorized to update this post -->
            Not allowed cause not author!
        {% endif %}  <!-- End of authorship check -->
    {% else %}  <!-- If the user is not authenticated -->
        <!-- Displaying a message indicating that the user is not authorized to update this post -->
        Not allowed cause auth!   
    {% endif %}  <!-- End of authentication check -->

</body>
</html>

{% endblock %}  <!-- End of the content block -->


