{% extends 'base.html' %}  <!-- Extends the base template for consistent layout and styling -->
{% load static %}  <!-- Loads the static file tag to include static files -->

{% block content %}  <!-- Content block that will be inserted into the base template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Detail</title>
</head>
<body>
    <!-- Blog Post Title -->
    <h1>{{ post.title }}</h1>  <!-- Displaying the blog post's title -->

    <!-- Blog Post Author and Publication Date -->
    <p>
        <strong>Author:</strong> {{ post.author.first_name }} {{ post.author.last_name }} - <!-- Author's name -->
        {{ post.publication_date }} <!-- Publication date -->

        <!-- Edit and Delete Links for Authenticated Users -->
        {% if user.is_authenticated and user.pk == post.author.pk %} <!-- Checks if the user is authenticated and is the author -->
        <a href="{% url 'admin_edit_post' pk=post.pk %}">Edit</a> <!-- Link to edit the post -->
        <a href="{% url 'admin_delete_post' pk=post.pk %}">Delete</a> <!-- Link to delete the post -->
        {% endif %}
    </p>
    
    <!-- Blog Post Content -->
    {% if post.header_image %} <!-- Checks if there is a header image -->
    <img src="{{ post.header_image.url }}"> <!-- Displays the header image -->
    {% endif %}
    <p>{{ post.content|safe }}</p> <!-- Displays the content of the post, rendering HTML safely -->

    <!-- Back Button -->
    <br/><br/>
    <a href="{% url 'index' %}" class="btn btn-primary">Back</a> <!-- Link to go back to the index page -->
    <br/><br/>

    <!-- Display Author Information Card only for authenticated users -->
    {% if user.is_authenticated %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <!-- Author Profile Picture -->
                    {% if post.author.profile.profile_pic %}
                    <img src="{{ post.author.profile.profile_pic.url }}" class="card-img">
                    {% else %}
                    <img src="{% static 'blog/images/10015419.png' %}" class="card-img">
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <!-- Author Name and Bio -->
                        <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                        <p class="card-text">{{ post.author.profile.bio }}</p>
                        <a href="{% url 'profile_page' post.author.profile.pk %}">Profile Page</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</body>
</html>

{% endblock %}  <!-- End of content block -->
