                <!-- Blog Post Title with Link to Detail Page -->
                <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3> <!-- Link to the post detail page -->
                - 
                <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>  <!-- Link to the post's category page -->

                <!-- Author, Publication Date, Edit, and Delete Links -->
                <p>
                    Author: {{ post.author.first_name }} {{ post.author.last_name }} <!-- Author's name -->
                    {{ post.publication_date }} <!-- Publication date of the post -->

                    {% if user.is_authenticated %} <!-- Checking if user is logged in -->
                    {% if user.pk == post.author.pk %} <!-- Checking if the logged-in user is the author of the post -->

                    <a href="{% url 'admin_edit_post' pk=post.pk %}">Edit</a> <!-- Link to edit the post -->
                    <a href="{% url 'admin_delete_post' pk=post.pk %}">Delete</a> <!-- Link to delete the post -->
                </p>

                {% endif %} <!-- End if for checking author -->
                {% endif %} <!-- End if for checking user authentication -->
                
                <!-- Blog Post Content -->
                {{ post.snippet }} <!-- Displaying the snippet of the blog post -->