{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIST Group</title>
</head>
<body>
    <h1>Delete Post</h1>
    <br/><br/>
    <h3>Delete: {{ post.title }}</h3>
    <div class="form-group"></div>
    <form method="POST">
        {% csrf_token %}
 
        <button class="btn btn-danger">Delete Post {{ post.pk }}</button>
    </div>
</body>
</html>

{% endblock %}