{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIST Group</title>
</head>
<body>

    {% if user.is_authenticated %}

    {% if user.pk == post.author.pk %}

    <!-- Page Title -->
    <h1>Delete Post</h1>
    <br/><br/>
    
    <!-- Display the Post Title to Confirm Deletion -->
    <h3>Delete: {{ post.title }}</h3>
    
    <!-- Delete Post Form -->
    <div class="form-group"></div>
    <form method="POST">
        {% csrf_token %}
        
        <!-- Delete Button -->
        <button class="btn btn-danger">Delete Post</button>
    </form>

    {% else %}

    Not allowed!

    {% endif %}


    {% else %}

    Not allowed!

    {% endif %}

</body>
</html>

{% endblock %}
