{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIST Group</title>
</head>
<body>

    {% if user.is_authenticated %} <!-- Checking if a user is authenticated (logged in) -->

    <!-- Page Title -->
    <h1>Add Blog Post</h1>

    <!-- Blog Post Form -->
    <div class="form-group"></div> <!-- Creating a form group (empty in this case) -->
    <form method="POST" enctype="multipart/form-data"> <!-- Creating a form with HTTP POST method + added  enctype="multipart/form-data" for images -->
        {% csrf_token %} <!-- Adding a CSRF token for security -->
        
        <!-- Render form fields as paragraphs -->

        {{ form.media }} <!-- Render form media (e.g., JavaScript or CSS files) -->

        {{ form.as_p }} <!-- Rendering form fields as paragraphs for a simple layout -->
        
        <!-- Submit Button -->
        <button class="btn btn-success">Post</button>
    </form>

    {% else %} <!-- If the user is not authenticated -->

    Not allowed! <!-- Displaying a message indicating that the user is not allowed -->


    {% endif %}

</body>
</html>

{% endblock %}
