{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIST Group</title>
</head>
<body>

    {% if user.is_authenticated %} <!-- Checking if a user is authenticated (logged in) -->
    {% if user.pk == post.author.pk %} <!-- Checking if the authenticated user is the author of the post -->

    <!-- Page Title -->
    <h1>Update Post: {{ post.pk }}</h1>

    <!-- Blog Post Update Form -->
    <div class="form-group"></div>
    <form method="POST">
        {% csrf_token %} <!-- Adding a CSRF token for security -->
        

        {{ form.media }} <!-- Render form media (e.g., JavaScript or CSS files) -->


        {{ form.as_p }} <!-- Rendering form fields as paragraphs for a simple layout -->
        
        <!-- Update Button -->
        <button class="btn btn-success">Update</button>
    </form>

    {% else %} <!-- If the authenticated user is not the author of the post -->

    Not allowed! <!-- Displaying a message indicating that the user is not allowed to update this post -->

    {% endif %} 


    {% else %} <!-- If the user is not authenticated -->

    Not allowed! <!-- Displaying a message indicating that the user is not allowed to update this post -->

    {% endif %}

</body>
</html>

{% endblock %}
