{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIST Group</title>
</head>
<body>

    {% if user.is_authenticated %}

    <!-- Page Title -->
    <h1>Add Blog Post</h1>

    <!-- Blog Post Form -->
    <div class="form-group"></div>
    <form method="POST">
        {% csrf_token %}
        
        <!-- Render form fields as paragraphs -->

        {{ form.media }}

        {{ form.as_p }}
        
        <!-- Submit Button -->
        <button class="btn btn-success">Post</button>
    </form>

    {% else %}

    Not allowed!

    {% endif %}

</body>
</html>

{% endblock %}
