{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIST Group</title>
</head>
<body>

    {% if user.is_authenticated %} <!-- Checking if a user is authenticated (logged in) -->

    {% if user.pk == post.author.pk %} <!-- Checking if the authenticated user is the author of the post -->

    <!-- Page Title -->
    <h1>Delete Post</h1>
    <br/><br/>
    
    <!-- Display the Post Title to Confirm Deletion -->
    <h3>Delete: {{ post.title }}</h3>
    
    <!-- Delete Post Form -->
    <div class="form-group"></div>
    <form method="POST">
        {% csrf_token %} <!-- Adding a CSRF token for security -->
        
        <!-- Delete Button -->
        <button class="btn btn-danger">Delete Post</button>
    </form>

    {% else %} <!-- If the authenticated user is not the author of the post -->

    Not allowed! <!-- Displaying a message indicating that the user is not allowed to delete this post -->

    {% endif %}


    {% else %} <!-- If the user is not authenticated -->

    Not allowed! <!-- Displaying a message indicating that the user is not allowed to delete this post -->

    {% endif %}

</body>
</html>

{% endblock %}
