{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIST Group Berlin</title>
</head>
<body>
    <!-- Page Title -->
    <h1>Welcome to our GIST Group Berlin</h1>
    
    <!-- Section Title for Blog Articles -->
    <h2>Blog Articles</h2>
    
    <!-- List of Blog Posts -->
    <ul>
        {% for post in posts %} <!-- Loop through each blog post in the 'posts' queryset/ reference context_object_name -->
        <li> 
            <!-- Blog Post Title with Link to Detail Page -->
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3> - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
            
            <!-- Author, Publication Date, Edit, and Delete Links -->
            <p>
                
                Author: {{ post.author.first_name }} {{ post.author.last_name }} 
                {{ post.publication_date }} 

                {% if user.is_authenticated %}

                <a href="{% url 'admin_edit_post' pk=post.pk %}">Edit</a>
                <a href="{% url 'admin_delete_post' pk=post.pk %}">Delete</a>
            </p>

            {% endif %}
            
            <!-- Blog Post Content -->
            <p>{{ post.content }}</p>
        </li>
        {% empty %}
        <!-- Displayed when there are no blog posts available -->
        <li>No blog posts available.</li>
        {% endfor %}
    </ul>
</body>
</html>

{% endblock %}
