{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Detail</title>
</head>
<body>
    <!-- Blog Post Title -->

    <h1>{{ post.title }}</h1>
    
    <!-- Blog Post Author and Publication Date -->
    <p>
        <strong>Author:</strong> {{ post.author.first_name }} {{ post.author.last_name }} -
        {{ post.publication_date }}

        {% if user.is_authenticated %}
        {% if user.pk == post.author.pk %}


        <a href="{% url 'admin_edit_post' pk=post.pk %}">Edit</a>

        <a href="{% url 'admin_delete_post' pk=post.pk %}">Delete</a>

    </p>
    {% endif %}

    {% endif %}
    
    <!-- Blog Post Content -->
    <p>{{ post.content }}</p>

    <!-- Link to Go Back to the Index Page -->
    <br/><br/>
    <a href="{% url 'index' %}" class="btn btn-primary">Back</a>
</body>
</html>

{% endblock %}

