{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Detail</title>
</head>
<body>
    <!-- Blog Post Title -->

    <h1>{{ post.title }}</h1> <!-- Displaying the title of the blog post -->
    
    <!-- Blog Post Author and Publication Date -->
    <p>
        <strong>Author:</strong> {{ post.author.first_name }} {{ post.author.last_name }} - <!-- Displaying the author's first and last name -->
        {{ post.publication_date }} <!-- Displaying the publication date of the blog post -->

        {% if user.is_authenticated %} <!-- Checking if a user is authenticated (logged in) -->
        {% if user.pk == post.author.pk %} <!-- Checking if the logged-in user is the author of the post -->


        <a href="{% url 'admin_edit_post' pk=post.pk %}">Edit</a> <!-- Link to edit the blog post -->

        <a href="{% url 'admin_delete_post' pk=post.pk %}">Delete</a> <!-- Link to delete the blog post -->

    </p>
    {% endif %}

    {% endif %}
    
    <!-- Blog Post Content -->
    {% if post.header_image %}
    <img src="{{ post.header_image.url }}"> <!-- Displaying the content image of the blog post -->
    {% endif %}
    <p>{{ post.content|safe }}</p> <!-- Displaying the content of the blog post and using the "safe" filter to render HTML content safely -->

    <!-- Link to Go Back to the Index Page -->
    <br/><br/>
    <a href="{% url 'index' %}" class="btn btn-primary">Back</a>
    <br/><br/>

    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-2">
            {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" class="card-img">
            {% else %}

            <img src="{% static 'blog/images/10015419.png' %}" class="card-img">

            {% endif %}
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
              <p class="card-text">{{ post.author.profile.bio }}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

</body>
</html>

{% endblock %}

