{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post Detail</title>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p><strong>Author:</strong> {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.publication_date }}  -<a href="{% url 'admin_edit_post' pk=post.pk %}">Edit</a></p>
    <p>{{ post.content }}</p>

<br/><br/>
<a href="{% url 'index' %}" class="btn btn-primary">Back</a>
</body>
</html>

{% endblock %}
