{% extends 'base.html' %}  <!-- Extending from the base template for consistent layout and styling across the site -->

{% block content %}  <!-- Defining the content block where specific page content will be inserted -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIST Group</title>
</head>
<body>
    <!-- Displaying the page title for changing the password -->
    <h1>Change Password</h1>

    <!-- Form for Changing Password -->
    <div class="form-group"></div>  <!-- Empty div for form group (for styling or future use) -->
    <form method="POST">  <!-- Form for submitting password change data -->
        {% csrf_token %}  <!-- CSRF token for form security -->

        {{ form.as_p }}  <!-- Rendering the form fields as paragraphs for a simple layout -->

        <!-- Submit button for the form -->
        <button class="btn btn-success">Change Password</button>
    </form>
</body>
</html>

{% endblock %}  <!-- End of the content block -->
