{% extends 'base.html' %} 

{% block content %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIST Group</title>
</head>
<body>
    <!-- Displaying the page title for login -->
    <h1>Login</h1>

    <!-- Login Form -->
    <div class="form-group"></div> 
    <form method="POST">
        {% csrf_token %}  <!-- CSRF token for form security -->

        {{ form.as_p }}  <!-- Rendering the form fields as paragraphs for a simple layout -->

        <!-- Submit button for the form -->
        <button class="btn btn-success">Login</button>
    </form>
</body>
</html>

{% endblock %} 
