{% extends 'base.html' %}  <!-- Extending from the base template for consistent layout and styling -->

{% load static %}  <!-- Loading static to use static files -->

{% block content %}  <!-- Content block for inserting specific content into the base template -->

<!-- Page Title -->
<h1>User Profile</h1>

<!-- Displaying the user profile information -->
{{ page_member }}

<!-- User Profile Card -->
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        <!-- Checking if the user has a profile picture -->
        {% if page_member.profile_pic %}
        <img src="{{ page_member.profile_pic.url }}" class="card-img">  <!-- Displaying the user's profile picture -->
        {% else %}
        <img src="{% static 'blog/images/10015419.png' %}" class="card-img">  <!-- Displaying a default image if no profile picture is available -->
        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <!-- User's Name -->
          <h5 class="card-title">{{ page_member.user.first_name }} {{ page_member.user.last_name }}</h5>
          <!-- User's Bio -->
          <p class="card-text">Bio: {{ page_member.bio }}</p>

          <p class="card-text">Social Media URL: {{ page_member.socialmedia_url }}</p>

  
          <!-- Conditional Link Based on Profile Availability -->
          {% if page_member.member.profile %}
          <a href="{% url 'profile_page' page_member.pk %}">Profile Page</a>  <!-- Link to the user's profile page -->
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Displaying Treatment Logs -->
<h2>Treatment Logs</h2>
<ul>
    {% for log in treatment_logs %}
    <li>{{ log.medication_name }} - {{ log.treatment_date }}</li>
    <p>Dosage: {{ log.dosage }}</p>
    {% if log.side_effects %}
    <p>Side Effects: {{ log.side_effects }}</p>
    {% endif %}
    {% empty %}
    <p>No treatment logs available.</p>
    {% endfor %}
</ul>

{% endblock %}  <!-- End of the content block -->
