{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIST Group</title>
</head>
<body>
    <!-- Page Title -->
    <h1>Edit Profile</h1>

    <!-- Blog Post Form -->
    <div class="form-group"></div>
    <form method="POST">
        {% csrf_token %}
        
        <!-- Render form fields as paragraphs -->
        {{ form.as_p }}
        
        <!-- Submit Button -->
        <button class="btn btn-success">Update Profile</button>
    </form>
</body>
</html>

{% endblock %}