{% extends 'base.html' %}  <!-- Extending from the base template to ensure consistent layout and styling across the site -->

{% block content %}  <!-- Defining the content block for specific content within the base template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIST Group</title>
</head>
<body>
    <!-- Displaying the page title for login -->
    <h1>Login</h1>

    <!-- Login Form -->
    <div class="form-group"></div>  <!-- Empty div for form group (can be used for styling or other purposes) -->
    <form method="POST">  <!-- Form for submitting login data -->
        {% csrf_token %}  <!-- CSRF token for form security -->

        {{ form.as_p }}  <!-- Rendering the form fields as paragraphs for a simple layout -->

        <!-- Submit button for the form -->
        <button class="btn btn-success">Login</button>
    </form>
</body>
</html>

{% endblock %}  <!-- End of the content block -->
