{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>User Profile</h1>

{{ page_member}}

<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
        {% if page_member.profile_pic %}
        <img src="{{ page_member.profile_pic.url }}" class="card-img">
        {% else %}

        <img src="{% static 'blog/images/10015419.png' %}" class="card-img">

        {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
            <h5 class="card-title">{{ page_member.user.first_name }} {{ page_member.user.last_name }}</h5>
          <p class="card-text">{{ page_member.member.profile.bio }}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          
          {% if post.author.profile %}
          <a href="{% url 'profile_page' page_member.pk %}">Profile Page</a>
          {% else %}
          <a href="{% url 'post_detail' pk=post.pk %}">View Post</a>
          {% endif %}



        </div>
      </div>
    </div>
  </div>

{% endblock %}